.DS_Store

# Dependencies
node_modules/

# Netlify local folder
.netlify/

# Local env secrets
.env

# Build outputs
dist/
build/

# Editor directories
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# OS files
Thumbs.db