/* SECTIONS */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

/* Center profile picture and text */
.section__pic-container {
   display: flex;
   height: 300px;
   width: 300px;
   margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}


.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem; /* Adjust spacing between 'hello, I'm' and title */
}

.title {
    font-size: 3rem;
    text-align: center; /* Adjust spacing between title and subtitle */
}

.section__text__p2 {
    font-size: 1rem;
    margin-top: 0.5rem; /* Adjust spacing above 'Frontend developer' */
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */
.icon {
    cursor: pointer;
    height: 2rem;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }
}


/*BUTTONS*/

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, 
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover {
    cursor: pointer;
    background: rgb(0, 0, 0); /* Black background on hover */
    color: white; /* Text color white on hover */
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    cursor: pointer;
    background: rgb(53, 53, 53); /* Dark background on hover */
    color: white; /* Text color white on hover */
    border: rgb(255, 255, 255) 0.1rem solid; /* White border on hover */
}

/*ABOUT SECTION */

#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: 1rem;
    bottom: -30rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

